 {% extends "base.html" %} {% block content %}
	
    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	

<section class="section lb page-section">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form role="Form" method="post" action="" accept-charset="UTF-8">
						<div class="form-group">
							<label for="fname">First Name</label>
							<input type="text" id="fname" class="form-control" name="fname" placeholder="Example: John">
						</div>
                        <div class="form-group">
							<label for="lname">Last Name</label>
							<input type="text" id="lname" class="form-control" name="lname" placeholder="Example: Doe">
                        </div>
						<div class="form-group">
							<label for="states">Select your State</label>
							<select id="states" class="form-control" name="state">
								<option value="unknown"></option>
								<option value="alabama">Alabama</option>
								<option value="alaska">Alaska</option>
								<option value="arizona">Arizona</option>
								<option value="arkansas">Arkansas</option>
								<option value="california">California</option>
								<option value="colorado">Colorado</option>
								<option value="connecticut">Connecticut</option>
								<option value="delaware">Delaware</option>
								<option value="florida">Florida</option>
								<option value="georgia">Georgia</option>
								<option value="hawaii">Hawaii</option>
								<option value="idaho">Idaho</option>
								<option value="illinois">Illinois</option>
								<option value="indiana">Indiana</option>
								<option value="iowa">Iowa</option>
								<option value="kansas">Kansas</option>
								<option value="kentucky">Kentucky</option>
								<option value="louisiana">Louisiana</option>
								<option value="maine">Maine</option>
								<option value="maryland">Maryland</option>
								<option value="massachusetts">Massachusetts</option>
								<option value="michigan">Michigan</option>
								<option value="minnesota">Minnesota</option>
								<option value="mississippi">Mississippi</option>
								<option value="missouri">Missouri</option>
								<option value="montana">Montana</option>
								<option value="nebraska">Nebraska</option>
								<option value="nevada">Nevada</option>
								<option value="new hampshire">New Hampshire</option>
								<option value="new jersey">New Jersey</option>
								<option value="new mexico">New Mexico</option>
								<option value="new york">New York</option>
								<option value="north carolina">North Carolina</option>
								<option value="north dakota">North Dakota</option>
								<option value="ohio">Ohio</option>
								<option value="oklahoma">Oklahoma</option>
								<option value="oregon">Oregon</option>
								<option value="pennsylvania">Pennsylvania</option>
								<option value="rhode island">Rhode Island</option>
								<option value="south carolina">South Carolina</option>
								<option value="south dakota">South Dakota</option>
								<option value="tennessee">Tennessee</option>
								<option value="texas">Texas</option>
								<option value="utah">Utah</option>
								<option value="vermont">Vermont</option>
								<option value="virginia">Virginia</option>
								<option value="washington">Washington</option>
								<option value="west virginia">West Virginia</option>
								<option value="wisconsin">Wisconsin</option>
								<option value="wyoming">Wyoming</option>
							</select>
                        </div>
                        <div class="form-group">
							<label for="gender">Your Gender</label>
							<select id="gender" class="form-control" name="gender">
								<option value="unknown">Unknown</option>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
								<option value="other">Other</option>
							</select>
						</div>
						<div class="form-group">
							<label for="emailaddr">Email Address</label>
							<input type="text" id="emailaddr" class="form-control" name="email" placeholder="Example: john.doe@gmail.com">
                        </div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" id="password" class="form-control" name="password" placeholder="">
                        </div>
						<div class="form-group">
							<label for="verifypass">Verify Password</label>
							<input type="password" id="confirmpass" class="form-control" name="verifypass" placeholder="">
                        </div>
						<div class="form-group text-center">
							<button type="submit" class="btn btn-primary btn-lg" id="submitbtn" name="submit">REGISTER!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

 {% endblock %}