{% extends "base.html" %} {% block content %}

<!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->

<div id="result" class="textBox">
        <div>
            <h2><strong>Bacterial Blight</strong></h2>

            <p><strong>Name :</strong>Bacterial Blight (Angular Leaf Spot, Black Arm)</p>
            <p><strong>Caused by :</strong>Xanthomonas citri pv. Malvacearum </p>

            <p>
               <strong> Foliar Symptoms: </strong>Symptoms of Bacte-rial Blight start as tiny water-soaked spots, and progress into characteristi-cally angular shapes due to leaf veins limiting bacterial movement. Lesions appear on the upper side of the leaf, turn black as they expand, and defoli-ation may occur. Systemic infections follow the main veins as black streaks; symptoms on the bolls are characteristically sunken, water-soaked lesions.
            </p>

            <p><strong>Management :</strong>Resistant cultivars are the most economical option to minimize yield loss. Incorporation of infected residue into the soil will help with decom-position of infected debris and reduce inoculum in the soil.</p>

            <p><strong>Diagnostic Note :</strong>Lesions are typically dark brown (darker than many other pathogens) and can be “shot-holed” in appearance when necrotic tissue falls away. Observe the underside of the leaf for water-soaking around the lesions.</p>
        </div>

    </div>

   
{% endblock %}